body{
    background: yellow;
    @media (min-width: 420px){
        background: white;
    }
}

//Zadanie1.
.sidebar, section{
    height: 300px;
    width: 100%;
    color: white;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 600px){
        float: left;
        margin-bottom: 0;
    }
}
section{
    background: navy;
    @media (min-width: 600px){
        width: 80%;
    }
}

.sidebar{
    background: black;
    @media (min-width: 600px){
        width: 20%;
    }
}
