div {
    width: 500px;
    height: 100px;
    background: linear-gradient(red, yellow);
    font-size: 2rem;
}

p {
    width: 50%;
    height: 50%;
    background-color: grey;
    font-size: 0.5em;
}
/*rem zmienia wielkość czcionki względem roota - powiększyło. em w <p> zmnieszyło względem
elementów nadrzędnych */
div {
    width: 300px;
    heigth: 300px;
}
/*zmienia się również wielkość 'dziecka' <p> w elemencie <div>*/
